@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
.mdl-shadow--2dp {
  box-shadow: none;
}

.firebaseui-info-bar {
  margin-top: 20px;
}

div.mdl-progress::after {
  display: block;
  color: black;
  content: "Authenticating...";
  margin: 20px auto;
  text-align: center;
}

.mdl-progress {
  height: 10px;
}
